body {
  background-color: gainsboro;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainBoard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}
.insideBoard {
  width: 600px;
  height: 200px;
  display: flex;
}
.boardLobby {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowCell {
  /*cells rows   */
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65.4px;
  height: 31.73px;
  border: 1px solid black;
  background-color: white;
}
.midRowCell {
  /*cells rows   */
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.midcell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31.2px;
  height: 65.4px;
  border: 1px solid black;
  background-color: white;
}
.piece {
  width: 25px;
  height: 25px;
  margin: 12px;
  border: 1px solid black;
  background-color: black;
  border-radius: 100%;
  text-align: center;
}
.pieceSqr {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: black;
}
/* color */
.green {
  background-color: #09f609;
}
.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blue {
  background-color: #4646fe;
}
/* pice board */
.greenPiece {
  border: 2px solid #09f609;
  text-align: center;
  color: #09f609;
}
.yellowPiece {
  border: 2px solid yellow;
  text-align: center;
  color: yellow;
}
.redPiece {
  border: 2px solid red;
  text-align: center;
  color: red;
}
.bluePiece {
  border: 2px solid #4646fe;
  text-align: center;
  color: #4646fe;
}
/* using position : https://www.w3schools.com/cssref/pr_class_position.php */
/* mid square  using https://css-tricks.com/snippets/css/css-triangle/*/
.midsqr {
  background-color: white;
}
.leftTriangle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 0;
  height: 0;
  border-top: 97px solid transparent;
  border-bottom: 98px solid transparent;
  border-left: 101px solid red;
}

.rightTriangle {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border-top: 99px solid transparent;
  border-bottom: 100px solid transparent;
  border-right: 102px solid yellow;
  position: relative;
}
.bottomTriangle {
  display: flex;
  justify-content: center;
  margin: -102px;
  width: 0;
  height: 0;
  border-left: 99px solid transparent;
  border-right: 102px solid transparent;
  border-top: 100px solid #09f609;
  border-bottom: 100px solid transparent;
}
.topTriangle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
  margin: -103px;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 106px solid transparent;
  border-bottom: 102px solid #4646fe;
  border-top: 97px solid transparent;
}

.homeCounter {
  width: 25px;
  height: 25px;
  margin: 12px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  text-align: center;
}
/* if more than one pice go to cell */
.pieceinsidecell {
  width: 16px;
  height: 16px;
  margin: 1px;
}
