body {
  background-color: gainsboro;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainBoard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}
.insideBoard {
  width: 600px;
  height: 200px;
  display: flex;
}
.sqrLobby {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowCell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cell {
  width: 65.4px;
  height: 31.73px;
  border: 1px solid black;
}
.midRowCell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.midcell {
  width: 31.474px;
  height: 65.4px;
  border: 1px solid black;
}
.piece {
  width: 25px;
  height: 25px;
  margin: 12px;
  border: 1px solid black;
}
.pieceSqr {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
