body {
  background-color: gainsboro;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mainBoard {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}
.insideBoard {
  width: 600px;
  height: 200px;
  display: flex;
}
.boardLobby {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowCell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.cell {
  width: 65.4px;
  height: 31.73px;
  border: 1px solid black;
  background-color: white;
}
.midRowCell {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.midcell {
  width: 31.474px;
  height: 65.4px;
  border: 1px solid black;
  background-color: white;
}
.piece {
  /* if go to cell make it width 15 and hight 15 and the margin 20 */
  width: 25px;
  height: 25px;
  margin: 12px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
}
.pieceSqr {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.greenBoard {
  background-color: #09f609;
}
.yellowBoard {
  background-color: yellow;
}
.redBoard {
  background-color: red;
}
.blueBoard {
  background-color: #4646fe;
}
.greenPiece {
  border: 2px solid #09f609;
}
.yellowPiece {
  border: 2px solid yellow;
}
.redPiece {
  border: 2px solid red;
}
.bluePiece {
  border: 2px solid #4646fe;
}
